<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="false" locationURI="popup:com.perforce.team.ui.PendingChangelistView?after=additions">
         <menu id="p4actions.submenu" label="Custom Actions">
		    <dynamic class="com.xakcop.p4actions.menu.CustomActionsMenu" id="p4actions.dynamic"/>
			<visibleWhen>
               <with variable="activeMenuSelection">
                  <count value="1"/>
                  <iterate>
                     <adapt type="com.perforce.team.core.p4java.P4PendingChangelist"/>
                     <not>
                        <adapt type="com.perforce.team.core.p4java.P4DefaultChangelist"/>
                     </not>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category id="p4actions.category" name="Custom Actions"/>
      <command categoryId="p4actions.category" id="p4actions.command" name="P4CustomAction">
         <commandParameter id="p4cl.id" name="id" optional="true"/>
         <commandParameter id="p4cl.conn.addr" name="connectionAddress" optional="true"/>
         <commandParameter id="p4cl.client.name" name="clientName" optional="true"/>
         <commandParameter id="p4cl.client.root" name="clientRoot" optional="true"/>
         <commandParameter id="cmd.line" name="cmdLine" optional="true"/>
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler class="com.xakcop.p4actions.menu.CustomActionHandler" commandId="p4actions.command"/>
   </extension>
   <extension point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.xakcop.p4actions.console.ProcessConsolePageParticipant"
            id="p4actions.consoleParticipant">
         <enablement>
            <instanceof value="com.xakcop.p4actions.console.ProcessConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>   
   <extension point = "org.eclipse.ui.preferencePages">
      <page id="com.xakcop.p4actions.prefPage"
	     class="com.xakcop.p4actions.prefs.P4ActionsPreferencePage" 
	     name="Custom Actions" 
	     category="com.perforce.team.ui.dialogs.GeneralPreferencesDialog">
      </page>
   </extension>
</plugin>
